<a href="https://colab.research.google.com/github/nidauxd/ATM/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
List=[ {
      "employee1_id ":1,
      "employee_name" :"Bilal Khan",
      "emp_desig" : "Ai",
      "emp_salary" : 50000,
      "emp_skills" :["Typescript" , "Python" ,"c++"],
      "emp_exp":[
         {
             "company_id":123,
             "desig":"Assist_manager",
             "salary":20000,
             "skills":["Next js","develper"]

         },
         {
             "company_id":456,
             "desig":"manager",
             "salary":30000,
             "skills":["css","html"]
         }


     ]

},
       {
    "employee1_id ": 2,
    "employee_name" :"Bilal Khan",
    "emp_desig" : "Ai",
    "emp_salary" : 50000,
    "emp_skills" : ["Typescript" , "Python" ,"c++"],
    "emp_exp":[
         {
             "company_id":67,
             "desig":"Assist_manager",
             "salary":20000,
             "skills":["Next js","develper"]

         },
         {
             "company_id":90,
             "desig":"manager",
             "salary":30000,
             "skills":["css","html"]
         }


     ]

}
]

In [10]:
List

[{'employee1_id ': 1,
  'employee_name': 'Bilal Khan',
  'emp_desig': 'Ai',
  'emp_salary': 50000,
  'emp_skills': ['Typescript', 'Python', 'c++'],
  'emp_exp': [{'company_id': 123,
    'desig': 'Assist_manager',
    'salary': 20000,
    'skills': ['Next js', 'develper']},
   {'company_id': 456,
    'desig': 'manager',
    'salary': 30000,
    'skills': ['css', 'html']}]},
 {'employee1_id ': 2,
  'employee_name': 'Bilal Khan',
  'emp_desig': 'Ai',
  'emp_salary': 50000,
  'emp_skills': ['Typescript', 'Python', 'c++'],
  'emp_exp': [{'company_id': 67,
    'desig': 'Assist_manager',
    'salary': 20000,
    'skills': ['Next js', 'develper']},
   {'company_id': 90,
    'desig': 'manager',
    'salary': 30000,
    'skills': ['css', 'html']}]}]

In [11]:
List[0]["emp_exp"][0]["skills"]

['Next js', 'develper']

In [17]:
List[0]["emp_exp"][1]["skills"]

['css', 'html']

In [33]:
employee_all_skills =List[0]["emp_exp"][0]["skills"] + List[0]["emp_exp"][1]["skills"]
print(employee_all_skills)
if List[0]["emp_skills"]!=employee_all_skills:
  for i in employee_all_skills:
    if i not in List[0]["emp_skills"]:
      List[0]["emp_skills"].append(i)
  print(List[0]["emp_skills"])

['Next js', 'develper', 'css', 'html']
['Typescript', 'Python', 'c++', 'Next js', 'develper', 'css', 'html']